<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.m5_projectsetupuserstoriesandconfiguration">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Space Trader Deluxe"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.RENone"
            android:label="@string/title_activity_renone"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".views.SpaceGarage"
            android:label="@string/title_activity_space_garage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.LoadScreen"
            android:label="@string/title_activity_load_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.Navigation"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.MarketScreen"
            android:label="@string/title_activity_market_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.PlanetScreen"
            android:label="@string/title_activity_planet_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.PostPlayerScreen"
            android:label="PostPlayerScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.MainActivity"
            android:label="Space Trader Deluxe"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".views.MainMenu"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>